<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <settings>
  	<setting name="jdbcTypeForNull" value="NULL"/>
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <!-- 타입 별칭 지정해줌 -->
  <typeAliases>
  	<typeAlias type="com.kh.spaceus.common.typehandler.StringArrayTypeHandler" alias="strArrTypeHandler"/>
  	
  	<!-- 패키지 이하의 모든 클래스를 별칭지정함 -->
  	<package name="com.kh.spaceus"/>
  </typeAliases>
  
  
  <!-- 타입핸들러 지정 -->
  <typeHandlers>
  	<typeHandler handler="com.kh.spaceus.common.typehandler.StringArrayTypeHandler"/>
  </typeHandlers>
  
  
</configuration>