<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">
	<insert id="insertQna">
		insert into qna values(
			'Q'||seq_qna_no.nextval,
			#{spaceNo},
			#{email},
			#{name},
			#{content},
			null,
			default,
			#{status}			
		)
		
	</insert>
	
	<delete id="deleteQuestion">
		delete
			qna
		where 
			qna_no=#{qnaNo}
	
	</delete>
	
	<update id="updateQuestion">
		update
			qna
		set 
			qna_content=#{content}
			, qna_status=#{status}
		where
			qna_no=#{qnaNo}
			
	</update>
	
	<select id="selectQuestionList" resultMap="qnaMap">
		select
			*
		from 
			qna
		where
			space_no=#{spaceNo}
		order by
			qna_date desc
	</select>
	
	<select id="selectQuestionTotalContents" resultType="_int">
		select
			count(*)
		from 
			qna
		where 
			space_no=#{spaceNo}
	</select>
	
	<update id="updateAnswer">
		update
			qna
		set 
			qna_answer = #{answer}
		where
			qna_no = #{qnaNo}
	</update>
		
	<resultMap type="qna" id="qnaMap">
		<id column="qna_no" property="qnaNo" />
		<result column="space_no" property="spaceNo" />
		<result column="member_email" property="email" />
		<result column="nickname" property="name" />
		<result column="qna_answer" property="answer" />
		<result column="qna_content" property="content" />
		<result column="qna_date" property="date" />
		<result column="qna_status" property="status" />
	</resultMap>
	
</mapper>