<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">
	<insert id="insertQna">
		insert into qna values(
			'Q'||seq_qna_no.nextval,
			#{spaceNo},
			#{email},
			#{name},
			#{password},
			#{content},
			null,
			default,
			default			
		)
		
	</insert>
</mapper>