<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exhibition">

<select id="selectExList" resultMap="exhibitionMap">
	select
		*
	from
		exhibition
</select>

<delete id="deleteExhibition">
	delete
	from
		exhibition
	where 
		ex_no = #{ exNo }
</delete>

<insert id="insertExhibition">
	insert into
		exhibition
	values(
		seq_ex.nextval,
		#{exTitle},
		#{exSubtitle},
		#{tag},
		#{imageUrl},
		#{renamedFileName}
	)
</insert>

<select id="selectOne" resultMap="exhibitionMap">
	select 
		*
	from
		exhibition
	where
		ex_no = #{exNo}
</select>

<select id="selectByTag" resultMap="spaceMap">
	select
	  *
	from
	  (
	    select
	      *
	    from
	      space
      	join space_tag using(space_no)
	  )
	  join tag using(tag_no)
	where
	  tag_name = '#'||#{tag}
	   and status='O'
</select>

<select id="selectOneByTag" resultMap="exhibitionMap">
	select
		*
	from 
		exhibition
	where 
		tag = #{tag}
</select>



<!-- resultMap -->
<resultMap type="space" id="spaceMap">
</resultMap>

<resultMap type="tag" id="tagMap">
</resultMap>

<resultMap type="spaceTag" id="spaceTagMap">
</resultMap>

<resultMap type="exhibition" id="exhibitionMap">
</resultMap>
</mapper>