<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exhibition">

<select id="selectExList" resultMap="exhibitionMap">
	select 
	    * 
	from 
	    exhibition left join tag using(tag_no)
	order by EX_NO desc
</select>

<delete id="deleteExhibition">
	delete
	from
		exhibition
	where 
		ex_no = #{ exNo }
</delete>

<insert id="insertExhibition">
	insert into
		exhibition
	values(
		   #{exTitle},
		   #{exSubtitle},
		   #{imageUrl},
		   #{renamedFileName},
		   #{tagNo},
		   seq_ex.nextval
	)
</insert>

<select id="selectOne" resultMap="exhibitionMap">
	select 
		*
	from
		exhibition
	where
		ex_no = #{exNo}
</select>

<select id="selectByTagNo" resultMap="SpaceListMap">
	select
		    S.space_no,
		    S.space_name, 
		    REGEXP_SUBSTR(address,'[^ ]+',1,3) as address,
		    S.hourly_price,
		    S.views,
		    S.like_cnt,
		    S.star_avg,
		    (select reviews from( select ROW_NUMBER() OVER(partition by space_no ORDER BY space_no,reviews) row_num, space_no,reviews from( select count(*)over(partition by space_no) as reviews, space_no from review))where row_num =1 and space_no = 'space2') as review_cnt,
            SI.renamed_filename
from space S join(
                            select space_no,renamed_filename 
                            from( select 
                                    S.space_no,
                                    SI.renamed_filename,
                                    rank()over(partition by S.space_no order by SI.renamed_filename) as rnum 
                                  from space S left join space_image SI 
                                                on S.space_no = SI.space_no)
                                  where rnum=1
                        )SI on S.space_no = SI.space_no
              join space_tag ST on S.space_no = ST.space_no
              join tag T on ST.tag_no = T.tag_no
		where S.status = 'O' and ST.tag_no=#{tagNo}
	
</select>

<select id="selectOneByTag" resultMap="exhibitionMap">
	select
		*
	from 
		exhibition
	where 
		tag_no = #{tag}
</select>

<select id="selectTagList" resultMap="tagMap">
	select
		*
	from
		tag
</select>

<!-- resultMap -->
<resultMap type="SpaceList" id="SpaceListMap">
</resultMap>

<resultMap type="exhibitionTag" id="tagMap">
</resultMap>

<resultMap type="spaceTag" id="spaceTagMap">
</resultMap>

<resultMap type="exhibition" id="exhibitionMap">
</resultMap>
</mapper>