<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<select id="selectOneMember" resultMap="memberMap">
	select
		* 
	from
		member
	where
		member_email = #{ memberEmail }
</select>

<select id="selectOneNickName" resultMap="memberMap">
	select
		* 
	from
		member
	where
		nickname = #{ nickName }
</select>

<select id="selectOnePhone" resultMap="memberMap">
	select
		* 
	from
		member
	where
		member_phone = #{ phone }
</select>


<insert id="insertMember">
	insert all
		into member values (
			#{ memberEmail },
			#{ nickName },
			#{ password },
			#{ memberPhone },
			#{ birthDay },
			default,
			default
		)
		into auth values (
			#{ memberEmail },
			default
		)
	select * from dual
</insert>

<update id="updatePassword">

	update
		member
	set
		password = #{ encryptedNewPassword }
	where
		member_email = #{ tomail }
</update>

<update id="updateStamp">
	update
		member
	set
		attendance_cnt = attendance_cnt + 1
	where
		member_email = #{ email }
</update>

<update id="updateMember">
	update
		member
	set
		nickname = #{ nickName }
	where
		member_email = #{ memberEmail }
</update>

<select id="selectBtdList" resultMap="memberMap">
	select
		* 
	from
		member
	where
		birthday like '%%'||#{ format }
</select>

<resultMap type="member" id="memberMap">
	<id column="member_email" property="memberEmail"/>
	<result column="nickname" property="nickName"/>
	<result column="password" property="password"/>
	<result column="member_phone" property="memberPhone"/>
	<result column="birthday" property="birthDay"/>
	<result column="member_regdate" property="memberRegDate"/>
	<result column="attendance_cnt" property="attendanceCnt"/>
</resultMap>
</mapper>