<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space">
	<!-- Tag -->
	<select id="selectOneTag" resultMap="tagMap">
		select 
			*
		from 
			tag
		where 
			tag_name = #{ hashTag }
	</select>
	<resultMap type="tag" id="tagMap">
		<id column="tag_no" property="no"/>
		<result column="tag_name" property="tag"/>
	</resultMap>

 	<insert id="insertHashTag">
		insert into 
			tag 
		values(
			'TAG'||seq_tag_no.nextval, 
			#{hashTag}
		)
	</insert>
      

<!-- space -->
	<select id="selectOneSpaceNo" resultType="space">
		select 
			*
		from 
			space
		where 
			space_no = #{ spaceNo }
	</select>

	<select id="selectOneSpace" resultMap="spaceMap">
		select 
			*
		from 
			space
		where 
			business_license = #{ businessNo }
	</select>
	<resultMap type="space" id="spaceMap">
		<id column="space_no" property="spaceNo"/>
		<result column="category_no" property="categoryNo"/>
		<result column="member_email" property="memberEmail"/>
		<result column="business_license" property="businessNo"/>
		<result column="space_name" property="spaceName"/>
		<result column="address" property="address"/>
		<result column="space_phone" property="spacePhone"/>
		<result column="hourly_price" property="hourlyPrice"/>
		<result column="star_avg" property="starAvg"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="modification_date" property="modificationDate"/>
		<result column="views" property="views"/>
		<result column="like_cnt" property="likeCnt"/>
		<result column="status" property="status"/>
		<result column="account" property="account"/>
		<result column="content" property="content"/>
		<result column="bank" property="bank"/>
	</resultMap>
	
	<select resultMap="tagMap" id="selectListSpaceTag">
		select
			*
		from
			tag T join space_tag ST
			using(tag_no)
		where ST.space_no = #{ spaceNo } 
	</select>
	
	<insert id="insertReview">
		insert into
			review (
				review_no,
				space_no,
				rev_no,
				nickname,
				star_rating,
				review_content
			)
		values (
			'REVIEW'||seq_review_no.nextval,
			#{ spaceNo },
			#{ revNo },
			#{ nickName },
			#{ starRating },
			#{ content }
		)
		
		 <selectKey keyProperty="reviewNo" resultType="string" order="AFTER">
			select
				'REVIEW'||seq_review_no.currval
			from 
				dual
		</selectKey> 
	
	</insert>

	<insert id="insertReviewAttahment">
		insert into
			review_image (
				re_img_no,
				review_no,
				re_original_filename,
				re_renamed_filename
			)
		values (
			'REIMG'||seq_review_image_no.nextval,
			#{ reviewNo },
			#{ oName },
			#{ rName }
		)
	</insert>
	
	<select resultMap="reviewMap" id="selectListReview">
		select
			R.*,
			(select re_renamed_filename  from review_image where review_no=R.review_no) image
		from
			review R
		where space_no = #{ spaceNo } 
	</select>
	<resultMap type="review" id="reviewMap">
		<id column="review_no" property="reviewNo"/>
		<result column="space_no" property="spaceNo"/>
		<result column="rev_no" property="revNo"/>
		<result column="nickname" property="nickName"/>
		<result column="review_comment" property="reviewComment"/>
		<result column="star_rating" property="starRating"/>
		<result column="review_content" property="content"/>
		<result column="review_date" property="enrollDate"/>
		<result column="image" property="image"/>
	</resultMap>
	
	
</mapper>











