<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space">
	<!-- Tag -->
	<select id="selectOneTag" resultMap="tagMap">
		select 
			*
		from 
			tag
		where 
			tag_name = #{ hashTag }
	</select>
	<resultMap type="tag" id="tagMap">
		<id column="tag_no" property="no"/>
		<result column="tag_name" property="tag"/>
	</resultMap>

 	<insert id="insertHashTag">
		insert into 
			tag 
		values(
			'TAG'||seq_tag_no.nextval, 
			#{hashTag}
		)
	</insert>
      
<!-- space -->
	<select id="selectAll" resultType="space">
		select
			*
		from space
	</select>

	<select id="selectOneSpaceNum" resultMap="spaceMap">
		select 
            *
		from(
		    select
		        *
		    from
		        space join space_image using (space_no) join reservation using(space_no) 
		    where 
		         space_no= #{spaceNo} and rownum=1
		    order by
		        upload_date )
		 
	</select>

	<select id="selectOneSpace" resultMap="spaceMap">
		select 
			*
		from 
			space
		where 
			business_license = #{ businessNo }
	</select>
	<resultMap type="space" id="spaceMap">
		<id column="space_no" property="spaceNo"/>
		<result column="category_no" property="categoryNo"/>
		<result column="member_email" property="memberEmail"/>
		<result column="business_license" property="businessNo"/>
		<result column="space_name" property="spaceName"/>
		<result column="address" property="address"/>
		<result column="space_phone" property="spacePhone"/>
		<result column="hourly_price" property="hourlyPrice"/>
		<result column="star_avg" property="starAvg"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="modification_date" property="modificationDate"/>
		<result column="views" property="views"/>
		<result column="like_cnt" property="likeCnt"/>
		<result column="status" property="status"/>
		<result column="account" property="account"/>
		<result column="content" property="content"/>
		<result column="bank" property="bank"/>
		<result column="renamed_filename" property="rname"/>
		<result column="rev_no" property="revNo"/>
		<result column="review_no" property="reviewNo"/>
		<result column="star_rating" property="starRating"/>
		<result column="review_content" property="reviewContent"/>		
		<collection property="attachList" ofType="Attachment">
			<id column="file_no" property="fileNo"/>
			<result column="space_no" property="spaceNo"/>
			<result column="original_filename" property="oName" jdbcType="VARCHAR" javaType="string"/>
			<result column="renamed_filename" property="rName" jdbcType="VARCHAR" javaType="string"/>
			<result column="upload_date" property="uploadDate"/>
<!-- 			<result column="status" property="status" 
								javaType="_int"
								jdbcType="BOOLEAN"/> -->
		</collection>
	</resultMap>
	
	
	
	<select resultMap="tagMap" id="selectListSpaceTag">
		select
			*
		from
			tag T join space_tag ST
			using(tag_no)
		where ST.space_no = #{ spaceNo } 
	</select>
	
	<insert id="insertReview">
		insert into
			review (
				review_no,
				space_no,
				rev_no,
				nickname,
				star_rating,
				review_content
			)
		values (
			'REVIEW'||seq_review_no.nextval,
			#{ spaceNo },
			#{ revNo },
			#{ nickName },
			#{ starRating },
			#{ content }
		)
		
		 <selectKey keyProperty="reviewNo" resultType="string" order="AFTER">
			select
				'REVIEW'||seq_review_no.currval
			from 
				dual
		</selectKey> 
	
	</insert>
	
	<resultMap type="wish" id="wishMap">
		<id column="space_no" property="spaceNo"/>
		<id column="member_email" property="email"/>
		<result column="like_date" property="date"/>
	</resultMap>
	
	<select id="selectLikeCnt" resultType="_int">
		select 
			count(*)
		from
		 	wish
		where 
			space_no=#{spaceNo}
	</select>
	
	<insert id="insertWish">
		insert into wish values(
			#{spaceNo},
			#{email},
			sysdate
		)
		
	</insert>
	
	<delete id="deleteWish">
		delete
		from
			wish
		where
			space_no=#{spaceNo} and
			member_email=#{email}
	</delete>

	<insert id="insertReviewAttahment">
		insert into
			review_image (
				re_img_no,
				review_no,
				re_original_filename,
				re_renamed_filename
			)
		values (
			'REIMG'||seq_review_image_no.nextval,
			#{ reviewNo },
			#{ oName },
			#{ rName }
		)
	</insert>

	<select resultMap="reviewMap" id="selectListReview">
		select
			R.*,
			(select re_renamed_filename  from review_image where review_no=R.review_no) image
		from
			review R
		where space_no = #{ spaceNo } 
		order by R.review_date desc
	</select>
	
	<resultMap type="review" id="reviewMap">
		<id column="review_no" property="reviewNo"/>
		<result column="space_no" property="spaceNo"/>
		<result column="rev_no" property="revNo"/>
		<result column="nickname" property="nickName"/>
		<result column="review_comment" property="reviewComment"/>
		<result column="star_rating" property="starRating"/>
		<result column="review_content" property="content"/>
		<result column="review_date" property="enrollDate"/>
		<result column="image" property="image"/>
		<result column="star1" property="star1"/>
		<result column="star2" property="star2"/>
		<result column="star3" property="star3"/>
		<result column="star4" property="star4"/>
		<result column="star5" property="star5"/>
	</resultMap>
	
	<select id="selectReviewTotalContents" resultType="_int">
	    select 
	    	count(*) 
	    from 
	    	review
	    where 
	    	space_no = #{spaceNo} 	
	</select>
	
	<select id="selectStar" resultType="star">
		select 
			count(case when star_rating=1 then 1 end) star1,
			count(case when star_rating=2 then 1 end) star2,
			count(case when star_rating=3 then 1 end) star3,
			count(case when star_rating=4 then 1 end) star4,
			count(case when star_rating=5 then 1 end) star5
		from 
			review
		where space_no = #{spaceNo}
	</select>
	
	<select id="selectOneSpaceNo" resultType="space">
		select 
			space_no
		from 
			space
		where 
			member_email = #{ email }
	</select>
	
	<update id="updateReviewComment">
		update 
			review
		set
			review_comment = #{content}
		where
			review_no = #{reviewNo}
	</update>
	
	<select resultMap="reviewMap" id="selectReviewComment">
		select
			R.*,
			(select re_renamed_filename  from review_image where review_no=R.review_no) image
		from
			review R
		where 
			space_no = #{ spaceNo }
			and
		 	review_comment is null
		order by R.review_date desc
	</select>
	
	<select id="selectSameCategory" resultMap="spaceMap">
		select 
            rownum, D.*
		from(
			select
				*
			from
				space join space_image using (space_no) 
			where 
				category_no=#{categoryNo} and space_no!=#{spaceNo}
                and rownum=1
			order by
				like_cnt asc
			) D
		where rownum between 1 and 3
	</select>
	
	<select id="selectCateName" resultType="string">
		select 
			category_name
		from
			category
		where 
			category_no=#{cateNo}
	</select>
	
	<insert id="insertSpace">
		insert into
			space (
				space_no,
				category_no,
				member_email,
				business_license,
				space_name,
				address,
				space_phone,
				hourly_price,
				account,
				bank,
				content
			)
		values (
			'space'||seq_space_no.nextval,
			#{ categoryNo },
			#{ memberEmail },
			#{ businessNo },
			#{ spaceName },
			#{ address },
			#{ spacePhone },
			#{ hourlyPrice },
			#{ account },
			#{ bank },
			#{ content }
		)
		
		<selectKey keyProperty="spaceNo" resultType="string" order="AFTER">
			select
				'space'||seq_space_no.currval
			from 
				dual
		</selectKey>
	</insert>
	
	<insert id="insertAttachment">
		insert into
			space_image (
				file_no,
				space_no,
				original_filename,
				renamed_filename
			)
		values (
			'SPIMG'||seq_space_image_no.nextval,
			#{ spaceNo },
			#{ oName },
			#{ rName }
		)
	</insert>
	
<!-- option -->
	<insert id="insertOption">
		insert into
			space_option 
		values (
			#{ spaceNo },
			#{ optionNo }
		)
	</insert>
	
	<select id="selectOptionList" resultType="optionList">
		select 
			option_no, option_name
		from 
			option_list L join space_option O
    		using(option_no)
		where
			O.space_no = #{ spaceNo }
	</select>
	
	<insert id="insertSpaceTag">
		insert into
			space_tag 
		values (
			#{ spaceNo },
			#{ tagNo }
		)
	</insert>
	
	<select id="selectReviewList" resultMap="spaceMap">
		select SS.* from(
			select  row_number() over(partition by rev_no order by rev_date ) as RNUM, S.*
			from(
			    select
			       *
			    from
			        space join space_image using (space_no) left outer join reservation using(space_no) left outer join review using(rev_no)
			    where 
			         reservation.member_email= #{email} ) S ) SS
	     where RNUM =1
	     order by SS.rev_date desc
	</select>
	
	<select id="selectReviewPossible" resultMap="spaceMap">
		select SS.* from(
		    select  row_number() over(partition by rev_no order by rev_date ) as RNUM, S.*
		    from(
		        select
		           *
		        from
		            space join space_image using (space_no) left outer join reservation using(space_no) left outer join review using(rev_no)
		        where 
		             reservation.member_email= #{email} and review_no is null  ) S ) SS
		 where RNUM =1
		 order by SS.rev_date desc
	</select>
	
	<select id="selectReviewComplete" resultMap="spaceMap">
		select SS.* from(
		    select  row_number() over(partition by rev_no order by rev_date ) as RNUM, S.*
		    from(
		        select
		           *
		        from
		            space join space_image using (space_no) left outer join reservation using(space_no) left outer join review using(rev_no)
		        where 
		             reservation.member_email= #{email} and review_no is not null  ) S ) SS
		 where RNUM =1
		 order by SS.rev_date desc
	</select>
	
	<update id="updateReview">
		update 
			review
		set
			star_rating = #{starRating},
			review_content = #{content}
		where
			rev_no = #{revNo}
	</update>
	
	<select resultMap="reviewMap" id="selectStarAvg">
		select
			*
		from
			review
		where space_no = #{ spaceNo } 
	</select>
	
	<update id="updateStarAvg">
		update 
			space
		set
			star_avg = #{starAvg}
		where
			space_no = #{spaceNo}
	</update>
	
		
	<select id="selectRecentReviewList" resultMap="reviewMap">
	    select 
	        rownum, R.review_no, R.space_no, nickname, review_content, star_rating, review_date, re_reg_date, re_renamed_filename image
		from(select 
				*
			from
				review join review_image using (review_no)
			order by 
				review_date desc) R
	        where rownum between 1 and 4
	</select>
</mapper>











