<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space">
	<select id="selectOneTag" resultMap="hashTagMap">
		select 
			*
		from 
			tag
		where 
			tag_name = #{ hashTag }
	</select>
	<resultMap type="hashTag" id="hashTagMap">
	
	</resultMap>

 	<insert id="insertHashTag">
		insert into 
			tag 
		values(
			'TAG'+seq_memo_no.nextval, 
			#{hashTag}
		)
	</insert>
      
	

</mapper>











