<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">
<!-- avail -->
	<select id="selectListAvail" resultType="reservationAvail">
        select 
			* 
		from 
			reservation_avail
		where
			space_no = #{ spaceNo }
	</select>

	<insert id="insertReservationVail">
		insert into
			reservation_avail 
		values (
			#{ day },
			#{ spaceNo },
			#{ startHour },
			#{ endHour }
		)
	</insert>
	
<!-- reservation -->
	<insert id="insertReservation">
		insert into
			reservation
		values (
			'REV'||seq_rev_no.nextval,
			#{ memberEmail },
			#{ spaceNo },
			sysdate,
			#{ day },
			#{ startHour },
			#{ endHour },
			#{ totalPrice },
			default,
			default,
			#{ pay }
		)
	</insert>

	<select id="selectListReservation" resultMap="reservationMap">
        select 
			* 
		from 
			reservation
		where
			member_email = #{ email }
		order by rev_date desc
	</select>
	
	<select id="ingReservation" resultMap="reservationMap">
        select 
			* 
		from 
			reservation
		where
			member_email = #{ email }
			and
			rev_cancle = rev_comple
		order by rev_date desc
	</select>
	
	<select id="finishReservation" resultMap="reservationMap">
        select 
			* 
		from 
			reservation
		where
			member_email = #{ email }
			and
			rev_cancle != rev_comple
		order by rev_date desc
	</select>
	
	<resultMap type="reservation" id="reservationMap">
		<id column="rev_no" property="revNo"/>
		<result column="member_email" property="memberEmail"/>
		<result column="space_no" property="spaceNo"/>
		<result column="d_day" property="day"/>
		<result column="rev_date" property="revDate"/>
		<result column="start_hour" property="startHour"/>
		<result column="end_hour" property="endHour"/>
		<result column="total_price" property="totalPrice"/>
		<result column="rev_cancle" property="revCancle"/>
		<result column="rev_comple" property="revComplete"/>
		<result column="member_phone" property="phone"/>
		<result column="pay" property="pay"/>
	</resultMap>

	<update id="cancleReservation">
		update
			reservation
		set
			rev_cancle = 1
		where
			rev_no = #{ revNo }
	</update>

	<select id="selectHostReservationList" resultMap="reservationMap">
        select 
        	* 
		from 
			member join reservation using(member_email) 
		where 
			space_no=(select space_no from space where member_email = #{ member_email })
	</select>

</mapper>











