<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">
<!-- avail -->
	<select id="selectListAvail" resultType="reservationAvail">
        select 
			* 
		from 
			reservation_avail
		where
			space_no = #{ spaceNo }
	</select>

<!-- reservation -->
	<insert id="insertReservationVail">
		insert into
			reservation_avail 
		values (
			#{ day },
			#{ spaceNo },
			#{ startHour },
			#{ endHour }
		)
	</insert>
	
	<select id="selectListReservation" resultMap="reservationMap">
        select 
			* 
		from 
			reservation
		where
			member_email = #{ email }
		order by rev_no 
	</select>
	<resultMap type="reservation" id="reservationMap">
		<id column="rev_no" property="revNo"/>
		<result column="member_email" property="email"/>
		<result column="space_no" property="spaceNo"/>
		<result column="rev_date" property="rev_date"/>
		<result column="d_day" property="day"/>
		<result column="start_hour" property="start"/>
		<result column="end_hour" property="end"/>
		<result column="total_price" property="price"/>
		<result column="rev_cancle" property="cancle"/>
		<result column="rev_comple" property="complete"/>
	</resultMap>


</mapper>











