<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">
<!-- avail -->
	<select id="selectListAvail" resultType="reservationAvail">
        select 
			* 
		from 
			reservation_avail
		where
			space_no = #{ spaceNo }
	</select>

<!-- reservation -->

</mapper>











