<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<!-- boardList -->
	<select id="selectListBoard" resultMap="boardMap">
		select
			*
		from
			board
		order by
			board_no asc
	</select>
	<resultMap type="board" id="boardMap">

	</resultMap>

	<!-- groupBoard List -->
	<select id="selectListGroupBoard" resultMap="groupBoardMap">
		select
			G.*,
			(select nickname from member where member_email= G.member_email) nickname,
			(select count(*) from group_board_comment where group_board_ref = G.group_board_no  ) comment_cnt
		from
			group_board G
		where
			G.report_cnt <![CDATA[<]]> 10
		order by group_board_date desc, group_board_no desc 
	</select>
	
	<resultMap type="groupBoard" id="groupBoardMap">
	</resultMap>

	<!-- sorted groupBoard List -->
	<select id="selectSortedListGroupBoard" resultMap="groupBoardMap">
  		select 
  			G.* ,
  			(select nickname from member where member_email= G.member_email) nickname,
  			(select count(*) from group_board_comment where group_board_ref = G.group_board_no  ) comment_cnt
        from
            (
             select 
             	* 
             from 
             	board join group_board using(board_no) 
             <where>
   				<if test="boardRef != null and boardRef !=''">
   					board_no = #{boardNo}
   				</if>
   				<if test="boardRef.equals('')">
	             	board_ref = #{boardNo}          	
	             </if>	
	             and report_cnt <![CDATA[<]]> 10
             </where> 
             ) G
	</select>
	
	<!-- sorted broupBoard List Cnt -->
	<select id="selectSortedListCnt" resultType="_int">
	select 
  			count(*)
        from
            (
             select 
             	* 
             from 
             	board join group_board using(board_no) 
             <where>
   				<if test="boardRef != null and boardRef !=''">
   					board_no = #{boardNo}
   				</if>
   				<if test="boardRef.equals('')">
	             	board_ref = #{boardNo}          	
	             </if>
	             and report_cnt <![CDATA[<]]> 10	
             </where> 
             ) G
	</select>
	
	<!-- total Baord Cnt -->
	<select id="selectTotalCnt" resultType="_int">
		select
			count(*)
		from
			group_board
		where
			report_cnt <![CDATA[<]]> 10
	</select>

	<!-- board Detail -->
	<select id="selectDetailBoard" resultMap="groupBoardMap">
		select
			G.*,
			(select nickname from member where member_email= G.member_email) nickname
		from
			group_board G
		where
			G.group_board_no=#{groupBoardNo}
	</select>
	
	<!-- board Detail 에서 윗부분  board 분류 -->
	<select id="selectBoardOne" resultMap="boardMap">
	 	select
        	B.*
      	from 
      		board B join group_board G
                        on B.board_no = G.board_no
      	where 
      		G.group_board_no = #{groupBoardNo}
	</select>
	
	<!-- board Detail 에서  comment aLL select-->
	<select id="selectAllComment" resultMap="gbCommentMap">
		select 
			c.*, M.nickname 
		from 
			group_board_comment  C join member M 
            	on C.writer = m.member_email
		where 
			group_board_ref = #{groupBoardNo}
		start with 
			group_board_comment_level = 1
		connect by prior 
			group_board_comment_no = group_board_comment_ref
		order siblings by
			 group_board_date desc, group_board_comment_no desc
	</select>
	<resultMap type="gBComment" id="gbCommentMap">
	</resultMap>
	
	<!-- board Detail에서 Comment Cnt -->
	<select id="selectCommentCnt" resultType="_int">
		select
			count(*)
		from 
			group_board_comment
		where
			group_board_ref = #{groupBoardNo}
	</select>
	
	<!-- board Detail에서 report -->
	<select id="selectReport" resultMap="cmtReportMap">
		select
			*
		from
			com_report
	</select>
	<resultMap type="cmtReport" id="cmtReportMap"></resultMap>
	
	<!-- insert board -->
	<insert id="insertBoard">
		insert into
			group_board
		values(
			'G'||seq_group_board_no.nextval,
			#{boardNo},
			#{memberEmail},
			default,
			#{groupBoardTitle},
			default,
			default,
			#{groupBoardContent}
		)
	</insert>
	
	<!-- update Board -->
	<update id="updateBoard">
		update 
			group_board
		set
			group_board_title = #{groupBoardTitle},
			group_board_content = #{groupBoardContent},
			board_no = #{boardNo}
		where
			board_no = #{boardNo}
	</update>
	
	<!-- delete Board -->
	<delete id="deleteBoard">
		delete from
			group_board
		where
			group_board_no = #{groupBoardNo}
	</delete>
	
	<!-- increase Board ReadCnt -->
	<update id="increaseBoardReadCnt">
		update 
			group_board
		set
			view_cnt = view_cnt + 1
		where
			group_board_no = #{groupBoardNo}
	</update>
	
	<!-- 신고된 적이 있는지 없는지 조회 -->
	<select id="selectOne" resultMap="reportMap">
		select
			*
		from
			report
		where
			member_email = #{memberEmail} and
			board_no = #{boardNo}
	</select>
	<resultMap type="report" id="reportMap">
	
	</resultMap>
	
	<insert id="insertReport">
		insert into
			report
		values (
			#{memberEmail},
			#{boardNo},
			#{reportReason}
		)
	</insert>
	
	<update id="updateCnt">
		update 
			group_board
		set
			report_cnt = report_cnt + 1
		where
			group_board_no = #{boardNo}
	</update>
	
	<!-- comment insert -->
	<insert id="insertComment">
		insert into
			group_board_comment
		values(
			seq_group_board_comment_no.nextval,
			#{writer},
			#{groupBoardRef},
			#{secret},
			#{groupBoardCommentRef},
			#{groupBoardContent},
			#{groupBoardCommentLevel},
			default,
			default
		)
	</insert>
	
	<!-- 댓글/대댓글 수정 -->
	<update id="updateComment">
		update
			group_board_comment
		set
			secret = #{secret},
			group_board_content = #{groupBoardContent}
		where
			group_board_comment_no = #{groupBoardCommentNo}
	</update>
	
	<!-- 댓글 /대댓글 삭제 -->
	<delete id="deleteComment">
		delete from
			group_board_comment
		where
			group_board_comment_no = #{groupBoardCommentNo}
	</delete>
	
	<!-- 댓글/대댓글 신고 -->
	<insert id="alertComment">
		insert into
			com_report
		values(
			#{memberEmail},
			#{groupBoardCommentNo}
		)
	</insert>
	<!-- 댓글/대댓글 신고시 reportcnt +1 -->
	<update id="updateReportCnt">
		update 
			group_board_comment
		set
			report_cnt = report_cnt+1
		where
			group_board_comment_no = #{groupBoardCommentNo}
	</update>		
	
</mapper>