<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<!-- boardList -->
	<select id="selectListBoard" resultMap="boardMap">
		select
			*
		from
			board
	</select>
	<resultMap type="board" id="boardMap">
	
	</resultMap>
	
	<!-- groupBoard List -->
	<select id="selectListGroupBoard" resultMap="groupBoardMap">
		select
			*
		from
			group_board
	</select>
	<resultMap type="groupBoard" id="groupBoardMap">
	
	</resultMap>
</mapper>